
<div class="wrapper">
  <header>

    <h1> Shu-An Tsai </h1>
    <p></p>
    <p style="color:#6f777d;font-weight:bold">Postdoctoral Fellow of Political Science, The University of Texas at Austin</p>

    <div class="is-container-row is-center">
      <div class="is-inset-8"><a href="https://shuantsai.github.io/" class="is-icon"><i class="fab fa-github fa-2x"></i></a></div>
      <div class="is-inset-8"><a href="https://scholar.google.com/citations?user=l3t2MGQAAAAJ&hl=en&oi=ao" class="is-icon"><i class="ai ai-google-scholar ai-2x"></i></a></div>
      <div class="is-inset-8"><a href="https://twitter.com/Shuan08759" class="is-icon"><i class="fab fa-twitter fa-2x"></i></a></div>
    </div>
    
    <br>

  </header>
</div>
