<div class="profile">
  <br>
  <h2>Shu-An Tsai</h2>
  <br>
  <br>
  <!-- Location Section -->
  <p><strong>Pre-Doctoral Fellow</strong>
    <br>
    <p style="white-space: pre-line;">
      Center for Taiwan Studies
      Department of Government
      The University of Texas at Austin</p>

    <!-- Grey Line Separator -->
    <hr style="border: 1px solid grey;">
  <br>
  <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6;">
    Shu An Tsai is a postdoctoral fellow at the University of Texas at Austin.
Her research interests focus on voting behavior, ethnic politics, and international relations, particularly the influence of the U.S. and China in East Asia.
Her research has been published in <em>New Media & Society, Journal of the East-West Center, and Taiwan Democracy Quarterly</em>.
</p>
</div>

<!--
<nav>
  <ul>
    <li><a href="{{ '/research/' | relative_url }}">Research</a></li>
    <li><a href="{{ '/teaching/' | relative_url }}">Teaching</a></li>
    <li><a href="{{ '/cv/' | relative_url }}">CV</a></li>
  </ul>
</nav>
-->
