<div class="profile">
  <h2>Shu-An Tsai</h2>
  <p>Post-Doctoral Fellow</p> 
  <br>
  <p>Center for Taiwan Studies  </p>
  <p>The University of Texas at Austin</p>
  <br>
  <p>Shu An Tsai is a postdoctoral fellow at the University of Texas at Austin.
Her research interests focus on voting behavior, ethnic politics, and international relations, particularly the influence of the U.S. and China in East Asia.
Her research has been published in <em>New Media & Society, Journal of the East-West Center, and Taiwan Democracy Quarterly</em>.
</p>
</div>

<!--
<nav>
  <ul>
    <li><a href="{{ '/research/' | relative_url }}">Research</a></li>
    <li><a href="{{ '/teaching/' | relative_url }}">Teaching</a></li>
    <li><a href="{{ '/cv/' | relative_url }}">CV</a></li>
  </ul>
</nav>
-->
