<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body class="layout--default">
  <div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
      {% include sidebar.html %}
    </div>
    <!-- Main Content -->
    <div class="main-content">
      {{ content }}
    </div>
  </div>
  {% include scripts.html %}
</body>
</html>
